[run]
source = app/services
omit =
    */tests/*
    */__init__.py

[report]
show_missing = true
exclude_also =
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    import .*
    from .* import .* 
